@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Our Web Application</h1>
    <p>Explore our features and services.</p>
    <a class="btn btn-primary btn-lg" href="/Users/Index" role="button">View Users</a>
    <a class="btn btn-success btn-lg" href="/Products/Index" role="button">View Products</a>
    <a class="btn btn-info btn-lg" href="/Comments/Index" role="button">View Comments</a>
</div>